In [1]:
%%time
!python -m baselines.JITFine.concat.run \
    --output_dir=model/jitfine/checkpoints \
    --config_name=microsoft/codebert-base \
    --model_name_or_path=microsoft/codebert-base \
    --tokenizer_name=microsoft/codebert-base \
    --do_train \
    --train_data_file data/jitfine/cross_project/changes_train.pkl data/jitfine/cross_project/features_train.pkl \
    --eval_data_file data/jitfine/cross_project/changes_valid.pkl data/jitfine/cross_project/features_valid.pkl \
    --test_data_file data/jitfine/cross_project/changes_test.pkl data/jitfine/cross_project/features_test.pkl \
    --epoch 50 \
    --max_seq_length 512 \
    --max_msg_length 64 \
    --train_batch_size 24 \
    --eval_batch_size 128 \
    --learning_rate 1e-5 \
    --max_grad_norm 1.0 \
    --evaluate_during_training \
    --feature_size 14 \
    --patience 10 \
    --seed 42 2>&1#| tee model/jitfine/train.log

Traceback (most recent call last):
  File "c:\Users\Thinkbook\AppData\Local\Programs\Python\Python38\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "c:\Users\Thinkbook\AppData\Local\Programs\Python\Python38\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "d:\JIT-Vul Replication\JIT-Vul-Replication\baselines\JITFine\concat\run.py", line 14, in <module>
    import torch
ModuleNotFoundError: No module named 'torch'
CPU times: total: 0 ns
Wall time: 789 ms

tee: model/jitfine/train.log: No such file or directory

In [1]:
import pickle

tmp =pickle.load(open('data/la/by_time/features_test.pkl','rb'))

In [2]:
tmp

                                   commit_hash is_buggy_commit   la   ld
0     def74c0cf05722b2e502d4b4f1219966c5b0cbd3               0   12    4
1     c0a3172fa6bbddcc73192f2a2c48d0bf3a7ba61c               0    1    1
2     c627e7526a902dd5bb1907dbbd5cf961679dfa68               0   29   94
3     43ac65742319ef5ac4461daf43316b189cd21e89               1    4    2
4     3d54026fb06d1aea7ebb4e9825970b06bebcacac               0   11    0
...                                        ...             ...  ...  ...
4050  faa75edde3dfeba1e2cf6ffa48e45a50f1042096               0    1    0
4051  8f21ad79b0cd98fc22d5b49734543101946abbff               0    8    0
4052  0102c5d4db7fdbf08b5b591b2a6264de33867a07               0   12   16
4053  68761851b595e96c68c3f46bfc21167e72c6a22c               0  117  112
4054  e4cd225557486c420f6a34411f98c575effd43dd               0    2    2

[4055 rows x 4 columns]

In [4]:
import pickle5 as pickle
f = 'data/la/cross_project/features_train.pkl'
x  = pickle.load(open(f,'rb'))
x = x [['commit_hash',	'is_buggy_commit',	'la',	'ld']]
x.to_pickle(f,protocol=4)

In [5]:
import pandas as pd 
df = pd.read_pickle(f)
df['is_buggy_commit'].value_counts()

0    21193
1     9176
Name: is_buggy_commit, dtype: int64

In [6]:
df

                                    commit_hash  is_buggy_commit   la  ld
0      9dccb1216bf9d120579612979f4d58fd97bf0150                0   15   1
1      e76709d8a66cbc3f541ec79d482862a2c3100d5a                0  683   2
2      bfe6631e7ab944c0d6275c6f8546c2c925e738d0                0  939  69
4      41dba453f9d164d1aebfea255686e5d267ac118a                1    1   1
5      defe37a6d41ea1cc24570a86a80d218f2ee35de4                0   92  28
...                                         ...              ...  ...  ..
36365  0e603df1ba7c749288b5df41f21f30b8c9bad906                0   26   4
36366  620633ec8b6d9154d0083bb252f80709ea6a0314                0    5   5
36367  b061dc41f62048acd4a34c6570c0ea396cd9d0b4                1   21  11
36368  8d116606bdae3197a1f5590ad4e8d7b07d1063f8                0   23  21
36369  6d4deecfdf0fe18d1a4b06aac49cabcdb9a25d3c                0    2   2

[30369 rows x 4 columns]

In [18]:
import pandas as pd

In [19]:
dft.head(1)

                                commit_hash is_buggy_commit   la  ld
0  a351091921c8b7d73a7193eaa56933f16c5dfb7f               1  129  98

In [20]:
df.head(1)

                                commit_hash  is_buggy_commit  la  ld
0  9dccb1216bf9d120579612979f4d58fd97bf0150                0  15   1

In [29]:
df  = pd.read_pickle(f)
ff= 'data/la/test/features_test.pkl'
dft = pd.read_pickle(ff)
dft['commit_hash'] = df['commit_hash']

dft['is_buggy_commit'] = df['is_buggy_commit']
dft['la'] = df['la']
dft['ld'] = df['ld']
dft.to_pickle(ff,protocol=4)

In [33]:
max(df['la'])

24983

In [34]:
df[df['la']==24983]

,Unnamed: 0,commit_hash,is_buggy_commit,la,ld
21502,21502,be663ab67077fac8e23eb8e231a8c1c94cb32e54,0,24983,1829

In [35]:
for _,row in df.iterrows():
    if row['la'] >10000:
        print(row['commit_hash'])

0b99d58902dd82fa51216eb8e0d6ddd8c43e90e4
75388acd0cd827dc1498043daa7d1c760902cd67
be663ab67077fac8e23eb8e231a8c1c94cb32e54
3306cfee3bf38ab207a0504e49c2d492bb73ffbf
6e486cdce1b3d5c5116cfe415eee52c2de6c8445
1650e3acb977f5c611cabc6d5a45a823f4cb459c
d248bbd940014d5ef98c97e4733022275e087901

In [66]:
df.sample(100)

,Unnamed: 0,commit_hash,is_buggy_commit,la,ld
6074,6074,cb31827d62066a04b02111df3052949fda4b6888,1,6,0
31232,31232,3037f36446eb3556c14757ac468463c3902f331b,1,49,0
5242,5242,7c97946d6131b31340954a3f603b6bf92590a9a5,0,14,4
8613,8613,b2984add8077ecc9d3cdf0d9294fb323f2001511,0,19,3
30056,30056,c4ce8709676a6f0b41761093b0da08de72799ba9,1,1,1
...,...,...,...,...,...
2690,2690,3eb4b066ab3f25f6454214d33b2fc17161812dfa,0,14,0
1024,1024,eb41986694a4282d305a2d8b28a1c58c0795988b,0,87,8
31381,31381,0827b9e97d443781a17a21c64695940675aa1f8a,1,15,7
9030,9030,c62db10577295ed4dc26fa9acd6e6f30cea7ffd0,0,92,49
10549,10549,0d3a51e5d279dd2a56c81ba7a81a70128c5a7545,1,4,0

In [76]:
f = 'data/la/by_time/features_test.pkl'
import pickle5 as pickle

df  = pickle.load(open(f,'rb'))
df.to_pickle(f,protocol=4)
df.sample(frac=1)
f = 'data/la/by_time/features_train.pkl'
import pickle5 as pickle

df  = pickle.load(open(f,'rb'))
df.sample(frac=1)
df.to_pickle(f,protocol=4)

In [77]:
f = 'data/la/by_time/features_train.pkl'
import pickle5 as pickle

df  = pickle.load(open(f,'rb'))
df = df[['commit_hash',	'is_buggy_commit',	'la',	'ld']]

la = df['la']
df1 = df[df['is_buggy_commit']==1]
df0 = df[df['is_buggy_commit']==0]
df = pd.concat((df1,df0.sample(df1.shape[0])))
# la = [el if el < 100 else 100 for el in la]
df['la'] = la
# df = df.sample(1000)
df.to_pickle(f,protocol=4)

In [54]:
max(df['la'])

100

In [68]:
df.head(1)

                                commit_hash  is_buggy_commit  la  ld
3  5e751957ba692658b7f67eb03ae5ddb2cd3d970c                1   6   0

In [69]:
df.shape

(16942, 4)

In [60]:
df['is_buggy_commit'].value_counts()

0    723
1    277
Name: is_buggy_commit, dtype: int64